* {
	background-color: rgb(80, 54, 252);
}

.header {
	text-align: center;
	color: azure;
}

.submit-btn {
	background-color: rgb(0, 72, 23);
	color: white;
	cursor: pointer;
}

.submit-btn:hover {
	background-color: aqua;
	color: black;
}

.input-books {
	color: white;
}

input {
	background-color: white;
}

.books {
	display: flex;
	flex-wrap: wrap;
}

.book {
	background-color: white;
	width: 200px;
	height: 150px;
	margin-left: 100px;
	margin-top: 20px;
	padding-bottom: 80px;
	border: black 2px solid;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.title, .pages, .author {
	background-color: white;
}

.readBtn {
	margin-bottom: 20px;
	background-color: aqua;
}

.deleteBtn {
	background-color: red;
}
